body{

font-family:Arial,sans-serif;
background:#0d1117;
color:white;
margin:0;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 60px;

background:#161b22;

position:sticky;
top:0;

z-index:999;

}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

transition:.3s;

}

nav a:hover{

color:#58a6ff;

}

.hero{

padding:80px;

text-align:center;

background:linear-gradient(135deg,#0b4fa2,#12233b);

}

.hero h2{

font-size:42px;

margin-bottom:15px;

}

.hero-button{

display:inline-block;

margin-top:25px;

padding:15px 35px;

background:#238636;

color:white;

text-decoration:none;

border-radius:8px;

transition:.3s;

}

.hero-button:hover{

transform:translateY(-4px);

}

.dashboard{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

padding:60px;

}

.dashboard-card{

background:#161b22;

padding:25px;

border-radius:10px;

transition:.3s;

cursor:pointer;

}

.dashboard-card:hover{

transform:translateY(-8px);

box-shadow:0 10px 25px rgba(0,0,0,.4);

}

.about{

padding:60px;

max-width:1100px;

margin:auto;

}

.report-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:30px;

padding:60px;

}

.report-card{

background:#161b22;

padding:25px;

border-radius:12px;

text-decoration:none;

color:white;

transition:.3s;

}

.report-card:hover{

transform:translateY(-8px);

background:#1d2633;

}

.report-card span{

display:block;

margin-top:20px;

color:#58a6ff;

font-weight:bold;

}

footer{

padding:40px;

text-align:center;

background:#161b22;

margin-top:60px;

}
